ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
  max-width: fit-content;
  display: flex;
  text-align: center;
}

p.content {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 50px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.table-title {
  font-weight: bold;
  text-align: left;
  font-size: 24px;
}

.table-text {
  text-align: center;
}

.form {
  padding: 12.5px;
  margin: 25px;
  background-color: #F7EF99;
  border-radius: 25px;
}