{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="alert" class="alert alert-warning fade show my-2 mx-2" role="alert" style="display:none;">
  <strong>Notice:</strong> You have logged out.
</div>
<!-- <h1 class="text-center d-flex justify-content-center my-5">Home</h1> -->
<h1 id="usernameText" class="text-center d-flex justify-content-center my-5" style="color: green;">
  @{{current_user.username}}</h1>
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-primary btn-lg d-flex justify-content-center my-5" href="{{url_for('main.login')}}"
    role="button">Login</a>
  <a class="btn btn-outline-primary btn-lg d-flex justify-content-center my-5" href="{{url_for('main.register')}}"
    role="button">Register</a>
  <a id="logout" class="btn btn-outline-danger btn-lg d-flex justify-content-center my-5" role="button">Logout</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  const usernameText = document.getElementById('usernameText');
  $(document).ready(function () {
    // Listen for the button click event
    $("#logout").click(function () {
      // Show the alert box
      $("#alert").show();
      usernameText.innerHTML = '@';
      // Make an AJAX request to the server
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/logout', true);
      xhr.send();
    });
  });
</script>

{% endblock %}