{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
</ul>
<div class="d-flex justify-content-center my-5">
    <h1>Login</h1>
</div>
<div class="d-flex justify-content-center my-5">
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.csrf_token() }}
        <div class="input-group flex-nowrap container-fluid">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input id="username" name="username" type="text" class="form-control" placeholder="Username" value=""
                aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap container-fluid my-5">
            <input id="password" name="password" type="password" class="form-control" placeholder="Password" value=""
                aria-label="Password" aria-describedby="addon-wrapping">
            <span class="input-group-text togglePassword">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </span>
        </div>
        <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Submit</button></div>
    </form>
</div>
{% endblock %}


{% block scripts %}
<script>
    const togglePassword = document
        .querySelector('#togglePassword');

    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', () => {

        // Toggle the type attribute using
        // getAttribure() method
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';

        password.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        this.classList.toggle('bi-eye');
    });
</script>

{% endblock %}